{% extends "layout.html" %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">

<p class="h3">What is CosmosAIGraph?</p>
<p class="lead">
</p>
<ul>
    <li class="lead bold">
    <strong>CosmosAIGraph is <u>not</u> a Azure Cosmos DB Database or API</strong>
    </li>
    <li class="lead">
    <strong>Rather, it is a set of working solutions or <u>Reference Implementations</u>
    that customers may copy and modify</strong>
    </li>
    <li class="lead">
    <a href="https://github.com/cjoakim/CosmosAIGraph" target="_blank">
        <strong>See the CosmosAIGraph Public GitHub repository</strong></a>
    </li>
    <li class="lead">
    <strong>These demonstrate how to implement <u>AI-powered Graph Workloads
        and Knowledge Graphs with Azure Cosmos DB</u></strong>
    </li>
    <li class="lead">
    <strong>CosmosAIGraph is applicable to a broad array of industries, companies, and use cases</strong>
    </li>
    <li class="lead">
    <strong>Its goal is to provide low-cost and scalable solutions that integrate into the Azure platform</strong>
    </li>
    <li class="lead">
    <strong>This page focuses on the first solution; others will follow</strong>
    </li>
</ul>

<p class="h3">Improvements over its' predecessor, AltGraph</p>
<p class="lead">
</p>
<ul>
    <li class="lead">
    <strong>Adds a W3C standards-based <u>graph query language</u></strong>
    </li>
    <li class="lead">
    <strong>Adds a support for W3C standards-based well-defined <u>schema or ontology</u></strong>
    </li>
    <li class="lead">
    <strong>Adds <u>Artificial Intelligence (AI)</u> with Azure OpenAI</strong>
    </li>
    <li class="lead">
    <strong>Adds <u>Vector Search</u> with Azure Cosmos DB</strong>
    </li>
    <li class="lead">
    <strong>No "triples" documents are required.  The graph is loaded from selected attributes of your domain documents instead
    </li>
    <li class="lead">
    <a href="https://devblogs.microsoft.com/cosmosdb/altgraph-graph-workloads-with-azure-cosmos-db-for-nosql/" target="_blank">
    <strong>See the AltGraph Blog</strong></a>
    </li>
</ul>

<p class="h3">Technical Foundations</p>
<p class="lead">
</p>
<ul>
    <li class="lead">
    <strong>The <u>Cosmos DB Mongo vCore API</u> is the operational datastore.  It supports vector search</strong>
    </li>
    <li class="lead">
    <strong>The implementation programming language is <u>Python3</u></strong>
    </li>
    <li class="lead">
    <strong>CosmosAIGraph is influenced by LinkedIn, which leverages an
    <u>in-memory graph</u> for both high-performance and lower costs</strong>
    </li>
    <li class="lead">
    <strong>A guiding design principle is to use Open Standards and Open-Source software where appropriate, specifically:</strong>
        <ul>
            <li><strong>The <u>Resource Description Framework (RDF)</u> and W3C standards</strong></li>
            <li><strong>The RDF <u>Web Ontology Language (OWL)</u></strong></li>
            <li><strong>The <u>SPARQL 1.1</u> RDF query syntax</strong></li>
            <li><strong>The <u>LangChain AI framework</u> for developing applications powered by language models </strong></li>
            <li><strong><u>Docker</u> containerization for simple and high-quality deployments</strong></li>
            <li><strong>The <u>FastAPI web framework</u>, with <u>OpenAPI</u> webservice definition support</strong></li>
        </ul>
    </li>
    <li class="lead">
    <strong>CosmosAIGraph is deployed as a set of three <u>microservices</u> - Web, Graph, and AI</strong>
    </li>
    <li class="lead">
    <strong>The primary deployment target is <u>Azure Container Apps (ACA)</u>.
    It can also be deployed to Azure Kubernetes Service (AKS)</strong>
    </li>
    <li class="lead">
    <strong>The deployment process uses the <u>Bicep</u> domain-specific language (DSL) and modern declarative DevOps syntax</strong>
    </li>
</ul>

<pre>

</pre>

<hr>

<pre>

</pre>

<img src="static/app-architecture.png" class="rounded mx-auto d-block" width="70%" alt="...">

<hr>

<pre>

</pre>

<img src="static/rag-pattern.png" class="rounded mx-auto d-block" width="70%" alt="...">

<pre>







    
</pre>

<pre>
version 2024/03/07
</pre>

{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}