{% extends "layout.html" %}
{% block title %} AI Console {% endblock %}

{% block content %}
<div class="container">
  <h5>AI Console</h5>
  <p></p>

  <form method="post" action="/ai_post_gen_sparql">
    <div class="mb-3">
      <label for="sparql" class="form-label">Enter a Natural Language Query:</label>
      <textarea rows='1' class="form-control" id="natural_language" name="natural_language" value="{{ natural_language }}">{{ natural_language }}</textarea>
    </div>
    <div class="mb-3">
      <input class="form-check-input" type="checkbox" id="use_cache" name="use_cache">
      <label class="form-check-label" for="use_cache"> Use Cache </label>
    </div>
    <div class="mb-6">
      <button type="submit" class="btn btn-outline-secondary mb-3">Generate SPARQL from Natural Language</button>
    </div>
    <p class="text-danger fw-bold" id="error_message" name="error_message"></p>
  </form>
</div>

<hr>

<div class="container">
    <p></p>
    <form method="post" action="/ai_post_execute_sparql">
        <div class="mb-3">
            <label for="sparql" class="form-label">SPARQL query:</label>
            <textarea rows='8' class="form-control" id="sparql" name="sparql" value="{{ sparql }}">{{ sparql }}</textarea>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="use_cache" name="use_cache">
            <label class="form-check-label" for="use_cache"> Use Cache </label>
        </div>
        <div class="mb-6">
            <button type="submit" class="btn btn-outline-secondary mb-3">Execute SPARQL Query</button>
        </div>
        <p class="text-danger fw-bold" id="error_message" name="error_message"></p>
    </form>
</div>

<hr>

<div class="container" id="results_div" name="results_div">
  <h5>{{ results_message }}</h5>
  <pre>
  <code>
{{ results }}
  </code>
  </pre>
  <br>
  <br>
</div>


<hr>

<div class="container" id="owl_div" name="owl_div">
  <pre>
  <code>
{{ owl }}
  </code>
  </pre>
  <br>
  <br>
</div>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
