{% extends "layout.html" %}
{% block title %} Generate SPARQL Console {% endblock %}

{% block content %}
<div class="container">
  <h5>Generate SPARQL Console</h5>
  <p></p>

  <form method="post" id="generate_form" name="generate_form" action="/gen_sparql_console_generate_sparql">
    <div class="mb-3">
      <label for="sparql" class="form-label">Enter a Natural Language Query:</label>
      <textarea rows='1' class="form-control" id="natural_language" name="natural_language" value="{{ natural_language }}">{{ natural_language }}</textarea>
    </div>
    <div class="mb-6">
      <button type="submit" id="generate_button" name="generate_button" class="btn btn-outline-primary mb-3">Generate SPARQL from Natural Language</button>
    </div>
    <p class="text-danger fw-bold" id="error_message" name="error_message"></p>
  </form>
</div>

<hr>

<div class="container">
    <p></p>
    <form method="post" id="execute_form" name="execute_form" action="/gen_sparql_console_execute_sparql">
        <div class="mb-3">
            <label for="sparql" class="form-label">SPARQL query:</label>
            <textarea rows='8' class="form-control" id="sparql" name="sparql" value="{{ sparql }}">{{ sparql }}</textarea>
        </div>
        <div class="mb-6">
            <button type="submit" id="execute_button" name="execute_button" class="btn btn-outline-primary mb-3">Execute SPARQL Query</button>
        </div>
        <p class="text-danger fw-bold" id="error_message" name="error_message"></p>
    </form>
</div>

<hr>

<div class="container" id="results_div" name="results_div">
  <h5>{{ results_message }}</h5>
  <pre>
  <code>
{{ results }}
  </code>
  </pre>
</div>

<hr>

<div class="container" id="owl_div" name="owl_div">
  <h5>Web Ontology (OWL)</h5>
  <pre>
  <code>
{{ owl }}
  </code>
  </pre>
  <br>
  <br>
</div>

{% endblock %}

{% block js %}
<script>
const generate_form = document.getElementById("generate_form");
const generate_button = document.getElementById("generate_button");

const execute_form = document.getElementById("execute_form");
const execute_button = document.getElementById("execute_button");

generate_button.addEventListener('click', 
    function(event) {
      event.preventDefault();
      generate_button.disabled = true;
      generate_button.textContent = "Processing...";
      execute_button.disabled = true;
      generate_form.submit();
    }
);

execute_button.addEventListener('click', 
    function(event) {
      event.preventDefault();
      execute_button.disabled = true;
      execute_button.textContent = "Processing...";
      generate_button.disabled = true;
      execute_form.submit();
    }
);

</script>
{% endblock %}
