{% extends "layout.html" %}
{% block title %} Vector Search Console {% endblock %}

{% block content %}
<div class="container">
  <h3>Vector Search Console</h3>
  <p></p>

<form method="post" action="/vector_search_console">
  <div class="row  align-items-center">
    <div class="col-1">
      <select id="libtype" name="libtype" class="form-select">
        <option value="npm">npm</option>
        <option selected value="pypi">pypi</option>
      </select>
    </div>
    <div class="col-6">
      <input type="text" class="form-control" id="libname" name="libname" value='{{ libname }}' /> 
    </div>
    <div class="col-2">
      <input type="checkbox" class="form-check-input" id="show_embeddings" name="show_embeddings">
      Show Embeddings
    </div>
    <div class="col-1">
      <span>
        <button id="submitbtn" name="submitbtn" type="submit" class="btn btn-outline-secondary">Search</button>
      </span>
    </div>
  </div>
  <p class="text-danger fw-bold" id="error_message" name="error_message"></p>
</form>
</div>

<hr>

<div class="container" id="results_div" name="results_div">
  <h5>{{ results_message }}</h5>
  <pre>
  <code>
{{ results }}
  </code>
  </pre>
</div>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
