# This file lists the Python libraries used in the virtual enviroment.
# See the venv.ps1 and venv.sh scripts in this directory.
# Chris Joakim, Microsoft

Jinja2
black
certifi
dnspython
docopt
httpx
openai
psutil
pymongo
python-dotenv
python-multipart
pytest==7.3.2
pytest-cov
pytest-asyncio
rdflib
requests
semantic-kernel==0.9.1b1
tiktoken
xmlformatter

# These are only used in unit tests
Faker
