<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> OWL Visualization </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.js"></script>  
  </head>
<body>

<hr/>

<h5>OWL Visualization</h5>

<div class="container-fluid" id="d3viz" name="d3viz">
  <svg style="width:95%;height:1024px;">
      <g></g>
  </svg>
</div>


<script>
$(document).ready(function() {
  var classes_json       = '{{ classes | tojson }}';
  var relationships_json = '{{ relationships | tojson }}';
  var attributes_json    = '{{ attributes | tojson }}';
  var classes       = JSON.parse(classes_json);
  var relationships = JSON.parse(relationships_json);
  var attributes    = JSON.parse(attributes_json);

  console.log('classes:' + JSON.stringify(classes, null, 2));
  //console.log('relationships:' + JSON.stringify(relationships, null, 2));
  //console.log('attributes:' + JSON.stringify(attributes, null, 2));

  if (classes.length > 0) {
    var nodes_set = new Set();
    var nodes = Array();
    var edges = Array();
    for (let i = 0; i < classes.length; i++) {
      var classname = classes[i]; 
      nodes_set.add(classname);

      if (Array.isArray(relationships)) {
        for (let idx = 0; idx < relationships.length; idx++) {
            var rel = relationships[idx];
            console.log('rel: ' + JSON.stringify(rel, null, 2));
            nodes_set.add(rel['name']);
            edges.push(rel);
        }
        console.log('added the edges; count: ' + edges.length);
      }
    }
    nodes_set.forEach(name => {
      n = {};
      n["name"] = name;
      n["type"] = "vertex";
      n["adjCount"] = 0;
      nodes.push(n);
    });
    console.log('nodes count: ' + nodes.length);
    console.log('edges count: ' + edges.length);

    function nodeClicked(e, d) {
      console.log("nodeClicked: " + d.name);
    }
    function nodeDblClicked(e, d) {
      console.log("nodeDblClicked: " + d.name);
    }
    function nodeMouseOver(e, d) {
      //console.log("nodeMouseOver: " + d.name);
    }
    function nodeMouseOut(e, d) {
      //console.log("nodeMouseOut: " + d.name);
    }
    function initZoom() {
      d3.select('svg').call(zoom);
    }
    function handleZoom(e) {
      console.log('handle zoom');
      d3.select('svg g').attr('transform', e.transform);
    }
    let zoom = d3.zoom().on('zoom', handleZoom);

    // var typeScale = d3.scaleOrdinal()
    //   .domain(["library", "author", "maintainer"])
    //   .range(["#75739F", "#41A368", "#FE9922"]);

    console.log('nodes before generateGraphViz: ' + JSON.stringify(nodes, null, 2));
    console.log('edges before generateGraphViz: ' + JSON.stringify(edges, null, 2));
    generateGraphViz(nodes, edges);

    function generateGraphViz(nodes, edges) {

      console.log("generateGraphViz");

      var marker = d3.select("svg").append('defs')
          .append('marker')
          .attr("id", "Triangle")
          .attr("refX", 12)
          .attr("refY", 6)
          .attr("markerUnits", 'userSpaceOnUse')
          .attr("markerWidth", 12)
          .attr("markerHeight", 18)
          .attr("orient", 'auto')
          .append('path')
          .attr("d", 'M 0 0 12 6 0 12 3 6');

      var nodeHash = {};
      nodes.forEach(n => {
          nodeHash[n.name] = n;
      });
      edges.forEach(edge => {
          edge.weight = 1.0;
          edge.source = nodeHash[edge.source];
          edge.target = nodeHash[edge.target];
      });

      var linkForce = d3.forceLink(edges);

      var simulation = d3.forceSimulation()
          .force("charge", d3.forceManyBody().strength(-2000))
          .force("center", d3.forceCenter().x(800).y(500))
          .force("link", linkForce)
          .nodes(nodes)
          .on("tick", forceTick);

      simulation.force("link").links(edges);

      d3.select("svg g").selectAll("line.link")
          .data(edges, d => `${d.source}-${d.target}`)
          .enter()
          .append("line")
          .attr("class", "link")
          .style("opacity", 1.0)
          .style("stroke", "red")
          .style("stroke-width", d => d.weight);

      d3.selectAll("line").attr("marker-end", "url(#Triangle)");

      var nodeEnter = d3.select("svg g").selectAll("g.node")
          .data(nodes, d => d.name)
          .enter()
          .append("g")
          .attr("class", "node");

      nodeEnter.append("circle")
          .attr("r", 5)
          .style("fill", d => typeScale(d.type));
      nodeEnter.append("text")
          .style("text-anchor", "middle")
          .attr("y", 15)
          .text(d => d.name);

      // Register mouse event handler functions for each Node

      d3.selectAll("g.node").on("click", function(e, d) {
          nodeClicked(e, d);
      });
      d3.selectAll("g.node").on("dblclick", function(e, d) {
          nodeDblClicked(e, d);
      });
      d3.selectAll("g.node").on("mouseover", function(e, d) {
          nodeMouseOver(e, d);
      });
      d3.selectAll("g.node").on("mouseout", function(e, d) {
          nodeMouseOut(e, d);
      });

      function forceTick() {
          d3.selectAll("line.link")
              .attr("x1", d => d.source.x)
              .attr("x2", d => d.target.x)
              .attr("y1", d => d.source.y)
              .attr("y2", d => d.target.y);
          d3.selectAll("g.node")
              .attr("transform", d => `translate(${d.x},${d.y})`);
      }
      initZoom();
    }
  }
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>