{% extends "layout.html" %}
{% block title %} SPARQL Console {% endblock %}

{% block content %}
<div class="container">
  <h5>SPARQL Console</h5>
  <p></p>
  <form method="post" id="form" name="form">
    <div class="mb-3">
      <label for="sparql" class="form-label">Enter a SPARQL query:</label>
      <textarea rows='8' class="form-control" id="sparql" name="sparql" value="{{ sparql }}">{{ sparql }}</textarea>
    </div>
    <div class="mb-6">
      <button type="submit" id="submit_button" name="submit_button" class="btn btn-outline-primary mb-3">Submit</button>
    </div>
    <p class="text-danger fw-bold" id="error_message" name="error_message"></p>
  </form>
</div>

<hr>

<div class="container" id="results_div" name="results_div">
  <h5>{{ results_message }}</h5>
  <pre>
  <code>
{{ results }}
  </code>
  </pre>
  <br>
  <br>
</div>

<hr/>

<div class="container" id="sample_sparql_queries" name="sample_sparql_queries">
  <h5>Sample SPARQL Queries</h5>
  <pre>
  <code>
{{ sample_sparql_queries }}
  </code>
  </pre>
  <br>
  <br>
</div>

{% endblock %}

{% block js %}
<script>
const form = document.getElementById("form");
const submit_button = document.getElementById("submit_button");

submit_button.addEventListener('click', 
    function(event) {
      event.preventDefault();
      submit_button.disabled = true;
      submit_button.textContent = "Processing...";
      form.submit();
    }
);
</script>
{% endblock %}