# This file lists the Python libraries used in the virtual enviroment.
# See the venv.ps1 and venv.sh scripts in this directory.
# Chris Joakim, Microsoft

black
docopt
certifi
dnspython
psutil
pymongo
python-dotenv
rdflib
